* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #3b36cc;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  width: 450px;
  background-color: #1a2a40;
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.create-form {
  height: 40px;
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #3b36cc;
  display: flex;
  font-size: 12px;
}

.create-form > input {
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.create-form > button {
  width: 60px;
  height: 100%;
  border: none;
  background-color: #3b36cc;
  color: white;
  cursor: pointer;
}

.todo {
  width: 100%;
  height: 40px;
  background-color: #3b36cc;
  border: 1px solid hsl(242, 60%, 51%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.completed {
  opacity: 0.4;
  text-decoration: line-through 3px black;
}
